@use "sass:math";

@import "mixins";

$main-theme-color: #007fff;
$main-bg-color: #f6f6f6;

// Placeholder classes
%two-column-grid {
    display: grid;
    grid: auto-flow / 1fr 1fr;
    grid-gap: 15px;
}

%fieldset {
    border: 1px solid $main-theme-color {
        radius: 5px;
    }
    padding: 10px;
    background-color: $main-bg-color;
}

// Overriden WP styles
#gflcp-form {
    overflow: auto;

    .cat-checklist {
        height: initial;
        max-height: 12em;
    }

    .children {
        margin:  6px 0 0 10px;
    }
}

// Root modal wrapper
.gflcp-modal {
    .media-modal {
        max-width: 720px;
        margin: auto;
    }
}

// Form checklists
#gflcp-tag-grid,
#gflcp-cat-grid,
#gflcp-tax-grid,
.gflcp-date {
    @extend %two-column-grid;

    fieldset {
        @extend %fieldset;
    }
}

#gflcp-taxonomy-terms > div {
    @extend %two-column-grid;
    fieldset {
        @extend %fieldset;
    }
}

#load-terms {
    margin: 10px 0;
}

// Modal form container
.modal-form-view {
    display: grid;
    grid: 50px 1fr 56px / 1fr;
    height: 100%;

    // Modal header
    header {
        padding-left: 10px;
        align-self: center;
    }

    h1 {
        margin: 0;
    }

    legend {
        font-size: 1.5em;
    }
}

// Modal footer
.gflcp-footer {
    border-top: 1px solid #e3e3e3;
    background-color: #f0f0f0;
    align-self: center;

    .button {
        margin: 10px;
        float: right;
    }
}

// Form elements
.gflcp-hidden-btn {
    display: none;
}

.gflcp-type-status {
    @extend %two-column-grid;

    fieldset {
        @extend %fieldset;
    }
}

#gflcp-select-accordion {
    input[type="text"],
    input[type="number"] {
        display: block;
    }
}

.gflcp-display-accordion {
    fieldset[disabled] {
        display: none;
    }
}

.gflcp-display-details {
    @extend %two-column-grid;

    select,
    label,
    input[type="text"],
    input[type="number"] {
        display: block;
    }

    label {
        margin: 10px 0;
    }

    fieldset {
        @extend %fieldset;

        h3 {
            margin-top: 0;
        }
    }
}

.gflcp-display-checkboxes {
    margin-bottom: 10px;

    label {
        display: inline-block;
        background-color: $main-bg-color;
        border-radius: 5px;
        color: black;
        padding: 2px {
            right: 8px;
        }
        margin: 2px;
        box-shadow: 2px 2px 5px $main-theme-color;
    }
}

.gflcp-row-span-2 {
    grid-row: auto / span 2;
}

// Ajax spinner SVG
.gflcp-spinner {
    grid-row: 2 / 3;
    place-self: center;
}

.gflcp-alert {
    place-self: center;
    text-align: center;
}

$switch-width: 30px;
$switch-padding: 4px;
$switch-height: math.div($switch-width, 2) + $switch-padding;
$switch-sq-size: $switch-height - 2 * $switch-padding;

.gflcp-switch-block {
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid $main-theme-color;

    label {
        position: relative;
        display: inline-block;
        width: $switch-width;
        height: $switch-height;
    }

    input {
        display: none;

        &:checked + .gflcp-slider {
            background-color: $main-theme-color;

            &:before {
                transform: translateX($switch-sq-size);
            }
        }

        &:focus + .gflcp-slider {
            box-shadow: 0 0 1px $main-theme-color;
        }
    }

    .gflcp-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #7cbdff;
        transition: .4s;

        &:before {
            position: absolute;
            content: "";
            height: $switch-sq-size;
            width: $switch-sq-size;
            left: $switch-padding;
            bottom: $switch-padding;
            background-color: white;
            transition: .4s;
        }
    }

    .gflcp-switch-label {
        position: relative;
        left: $switch-width + 10px;
    }
}

// Utility classes
.gflcp-vmargin-10 {
    margin: 10px 0;
}
