@import "mixins";

$main-theme-color: #007fff;
$main-bg-color: #f6f6f6;

// Placeholder classes
%two-column-grid {
    display: grid;
    grid: auto-flow / 1fr 1fr;
    grid-gap: 10px;
}

// Overriden WP styles
#lcp-insert-form {
    overflow: auto;

    .cat-checklist {
        height: initial;
        max-height: 12em;
    }

    .children {
        margin:  6px 0 0 10px;
    }
}

// Root modal wrapper
.gflcp-modal {
    .media-modal {
        max-width: 720px;
        margin: auto;
    }
}

// Form checklists
#lcp-cat-select,
#lcp-tag-select {
    @extend %two-column-grid;
}

.taxonomy-terms > div {
    @extend %two-column-grid;
}

#load-terms {
    margin: 10px 0;
}

// Modal form container
.modal-form-view {
    display: grid;
    grid: 50px 1fr 56px / 1fr;
    height: 100%;

    // Modal header
    header {
        padding-left: 10px;
        align-self: center;
    }

    h1 {
        margin: 0;
    }
}

// Modal footer
.gflcp-footer {
    border-top: 1px solid #e3e3e3;
    background-color: #f0f0f0;
    align-self: center;

    .button {
        margin: 10px;
        float: right;
    }
}

// Form elements
.hidden-submit-btn {
    display: none;
}

.gflcp-display-accordion {
    fieldset[disabled] {
        display: none;
    }
}

.gflcp-display-details {
    @extend %two-column-grid;

    select,
    label,
    input[type="text"],
    input[type="number"] {
        display: block;
    }

    label {
        margin: 10px 0;
    }

    fieldset {
        border: 1px solid $main-theme-color {
            radius: 5px;
        }
        padding: 10px;
        background-color: $main-bg-color;

        h3 {
            margin-top: 0;
        }
    }
}

.gflcp-display-checkboxes {
    margin-bottom: 10px;

    label {
        display: inline-block;
        background-color: $main-bg-color;
        border-radius: 5px;
        color: black;
        padding: 2px {
            right: 8px;
        }
        margin: 2px;
        box-shadow: 2px 2px 5px $main-theme-color;
    }
}

.gflcp-row-span-2 {
    grid-row: auto / span 2;
}
